- name: Run Datadog Synthetic tests
  uses: DataDog/synthetics-ci-github-action@v1
  with:
    api_key: ${{ secrets.DATADOG_API_KEY }}
    app_key: ${{ secrets.DATADOG_APP_KEY }}  # if required
    # other config...

